.validation-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2px;
    width: 100%;
}

.validation-group .error {
    color: #dc3545;
    font-size: 16px;
    display: none;
}

.validation-group.invalid .error {
    display: block;
}

.validation-group input {
    border: 1px solid #0000;
    width: 100%;
}

.validation-group.invalid input {
    border: 1px solid #dc3545;
}